@tailwind base;
@tailwind components;
@tailwind utilities;

.editor {
  background-color: #1f2937;
  padding-left: 12px;
  line-height: 2rem;
  display: flex;
  border-radius: 8px;
  margin-top: 12px;
}

.ai-input {
  background-color: transparent;
  outline: none;
  display: flex;
  flex: 1;
}

.typeahead-menu {
  background-color: #1f2937;
  width: 180px;
  margin-top: 32px;
  display: flex;
  color: white;
  border-radius: 8px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  z-index: 10;
}

.item {
  z-index: 10;
  width: 180px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
}

.item-h1 {
  font-size: 2rem;
  font-weight: bold;
}

.item-h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.item-h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

.item-h4 {
  font-size: 1rem;
  font-weight: bold;
}

.selected {
  display: flex;
  background-color: #ffffff22;
}

.heading {
  font-size: 2rem;
  background: transparent;
  outline: none;
  font-weight: bold;
  margin-bottom: 8px;
}

.ai-input {
  background-color: #1f2937;
  width: 250px;
  margin-top: 32px;
  display: flex;
  color: #ffffffaa;
  font-size: 14px;
  border-radius: 8px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.ai-item {
  display: flex;
  z-index: 10;
  width: 250px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
}

.ai-item-icon {
  margin-left: 8px;
  margin-right: 8px;
}

.ai-input-heading {
  display: flex;
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom-color: #ffffff22;
  border-bottom-width: 1px;
}

.ai-input-icon {
  margin-right: 6px;
}

.toolbar-button {
  background-color: #1f2937;
  opacity: 0.7;
  padding: 8px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 8px;
  margin-left: 8px;
}

.toolbar-button:hover {
  opacity: 1;
}

.toolbar-container {
  position: absolute;
  right: 4px;
  top: 4px;
}
